#main {
  align-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

ul {
  align-content: center;
}

li {
  list-style: none;
  margin: 1.5em;
}

h1 {
  color: rgb(166, 180, 166);
  font-size: 30px;
  font-family: Arial;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.paging {
  align-items: center;
  background-position-y: bottom;
  background: #615959;
  margin: auto;
  max-width: 30%;
  border-radius: 5px;
}
