<div class="container">
    <div class="col-md-12" id="buttonRow">
      <img [src]="comic?.image?.screen_url" [alt]="comic?.name" class="comic-image" />
      <button id="sidebarToggle" class="btn btn-primary" [routerLink]="['/add']">
        <b class="fa fa-angle-left"></b><b class="fa fa-angle-left"></b>
      </button>
      <form (ngSubmit)="saveComic()">
        <button id="save" class="btn btn-primary"> <b>Save</b>
        </button>
      </form>
    </div>

    <div class="col-md-12">
      <h2 id="issueTitle">{{comic?.name}} </h2>
      <p><b>Volume:&nbsp;</b> {{comic?.volume.name}}</p>
      <p><b>Date:&nbsp;</b> {{comic?.cover_date}}</p>
      <p><b>Description:</b></p>
      <p [innerHtml]="comic?.description" class="pad-left line"></p>
    </div>
  </div>
