.pad-left {
  margin-left: 10px;
}

.comic-tile {
  overflow: hidden;
  color: rgba(243, 247, 10, 0.979)
}

img {
  float: right;
  position: relative;
}

.title {
  max-width: 400px;
  min-width: 100px;
  position: relative;
  float: left;
}

.hoverwell {
  background-color: #615959;
  border-radius: 5px;
  min-width: 300px;
  max-width: 700px;
  min-height: 300px;
}

.line {
  margin-bottom: 2px;
  color: rgb(214, 228, 214);
}

b {
  color: chocolate
}
