.container {
  padding-top: 2%;
  align-content: center;
}

img {
  min-height: 300px;
  margin-bottom: 1em;
  border-style: inset;
  border-color: rgb(238, 100, 66);
  border-width: 1px;
  border-radius: 5px;
  max-height: 900px;
  width: 875px;
}

button {
  border-radius: 7px;
  min-width: 50px;
}

#save {
  float: right;
  color: white;
  background: green;
}

#buttonRow {
  width: 900px;
  margin-bottom: 2em;
}
form {
  float: right;
}

p {
  margin-top: 5px;
}

.line {
  margin-bottom: 2px;
  color: rgb(214, 228, 214);
}

p>b {
  color: chocolate
}

#issueTitle {
  color: rgba(243, 247, 10, 0.979)
}

