<h1>Find Comics</h1>
<input id="searchForm" (keyup)="searchTerm.next($event.target.value)">
<div id="main" class="col-md12">
  <div>
    <ul id="main" class="container-fluid row">
      <li *ngFor="let comic of foundComics | paginate: { id: 'add', itemsPerPage: 20, currentPage: p }">
        <div class="col-md4">
          <app-add-comics-tile [comic]=comic></app-add-comics-tile>
        </div>
      </li>
    </ul>
    <div class="paging">
      <pagination-controls autoHide="true" (pageChange)="p = $event" id="add"></pagination-controls>
    </div>
  </div>
</div>

