header {
  align-content: center;
  padding-left: 1em;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 80px;
  font-style: oblique;
  color: orangered;
  font-family: Gill Sans;
  float: center;
}
