.container {
  align-items: center;
}

header {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 80px;
  font-style: oblique;
  color: orangered;
  font-family: Gill Sans;
  float: center;
}

